<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pot.member.service.mapper.SocialConnectionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pot.member.service.entity.SocialConnection">
        <id column="id" property="id" />
        <result column="gmt_created_at" property="gmtCreatedAt" />
        <result column="gmt_updated_at" property="gmtUpdatedAt" />
        <result column="gmt_deleted_at" property="gmtDeletedAt" />
        <result column="member_id" property="memberId" />
        <result column="provider" property="provider" />
        <result column="provider_member_id" property="providerMemberId" />
        <result column="provider_username" property="providerUsername" />
        <result column="provider_email" property="providerEmail" />
        <result column="access_token" property="accessToken" />
        <result column="refresh_token" property="refreshToken" />
        <result column="gmt_token_expires_at" property="gmtTokenExpiresAt" />
        <result column="scope" property="scope" />
        <result column="is_active" property="isActive" />
        <result column="gmt_last_sync_at" property="gmtLastSyncAt" />
        <result column="extend_json" property="extendJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_created_at, gmt_updated_at, gmt_deleted_at, member_id, provider, provider_member_id, provider_username, provider_email, access_token, refresh_token, gmt_token_expires_at, scope, is_active, gmt_last_sync_at, extend_json
    </sql>

</mapper>
